
*{
            background-image: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTpiriX7Nf49G0BcDAJlmRP5Gn8Fi6Vc2ucuw&usqp=CAU.jpg");
            background-attachment: fixed;
            background-repeat: No-repeat;
            background-size:cover;
            font-family: Arial;
            color: black;
            margin:0;
            padding:10px;
        }

        /* img{
            height:745px;
            width:1535px;
        } */


        body{
            margin: 6px 15px;
            padding:8px;
        }

        .container{
            background-color: #f2f2f2;
            padding:5px 20px 65px 5px;
            border: 1px solid lightgray ;
            border-radius: 4px;
        }

        input[type="text"],
        input[type="email"],
        textarea{
            padding:12px;
            border:1px solid;
        }

        input[type="submit"]{
            background-color:green;
            color:black;
            padding:10px 16px;
            cursor: pointer;
        }

        